{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags pyconau_tags %}

{% block content %}

<div class="banner">
    <div class="container">
        <div class="cta">
            <div class="padding">
                <h1>{{ self.big_text }}</h1>
                {% conf_dates %}
                <a href="/person/new" class="button large">Create Account</a>
                <a href="/person/signin" class="button large grey">Login</a>
            </div>
        </div>
    </div>

    <span data-picture data-alt="Banner Image" class="banner-bg">
        {% image self.banner_image width-768 as small_banner %}
        {% image self.banner_image width-900 as medium_banner %}
        {% image self.banner_image width-1170 as large_banner %}
        {% image self.banner_image original as huge_banner %}

        <span data-src="{{ small_banner.url }}" data-media="(min-width: 401px)"></span>
        <span data-src="{{ medium_banner.url }}" data-media="(min-width: 769px)"></span>
        <span data-src="{{ large_banner.url }}" data-media="(min-width: 901px)"></span>
        <span data-src="{{ huge_banner.url }}" data-media="(min-width: 1171px)"></span>

        <noscript>
            <img src="{{ huge_banner.url }}" alt="PyCon AU 2014">
        </noscript>
    </span>
</div>

{% if self.registrations_open %}
    <div class="important-news">
        <div class="container">
            <h2>Registrations are now open!</h2>
            <a href="{{ self.registrations_link.url }}" class="button">Find out More</a>
        </div>
    </div>
{% endif %}

<div class="container">
    <!-- Sponsors -->
    <h2 class="home-h2">Sponsors</h2>

    <div id="sponsors" class="owl-carousel">
        <div class="item">
            {% for sponsor in sponsors %}
                <div class="item">
                    <a href="{{ sponsor.url }}">
                        {% image sponsor.image fill-268x134 class="scale-with-grid" %}
                        <span>{{ sponsor.get_level_display }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="content-cta centered">
        <a href="{{ self.sponsor_link.url }}" class="button large">Sponsor PyCon Australia</a>
    </div>

    <!-- News-->
    <h2 class="home-h2">News</h2>

    <div class="nine columns">
        {% for newsitem in newsitems %}
            <article class="homepage-news">
            <p class="date">{{ newsitem.date|date:"d F Y" }}</p>
            <div class="article-body">
            {{ newsitem.body|richtext }}
            </div>
            <div class="clearfix"></div>
            </article>
        {% endfor %}
    </div>

    <div class="three columns">
        <ul class="stay-in-touch fa-ul">
<li><i class="fa-li fa fa-rss"></i> <a href="/media/news/rss">RSS News Feed</a></li>
<li><i class="fa-li fa fa-envelope"></i> <a href="http://lists.linux.org.au/listinfo/pycon-au-announce">Announcements Mailing List</a></li>
<li><i class="fa-li fa fa-twitter"></i> <a href="http://twitter.com/pyconau">@pyconau Twitter</a></li>
<li><i class="fa-li fa fa-comments"></i> <a href="irc://irc.freenode.net/pyconau"><tt>irc.freenode.net/#pyconau</tt></a></li>
<li><i class="fa-li fa fa-google-plus"></i> <a href="http://plus.google.com/+PyConAU">Google+</a></li>
<li><i class="fa-li fa fa-facebook"></i> <a href="http://www.facebook.com/PyConAustralia">Facebook</a></li>
</ul>
    </div>
    <div class="clearfix"></div>

    <!-- Location -->
    <h2 class="home-h2">Location</h2>

    <div class="six columns">
        <div id="map-canvas"></div>
    </div>

    <div class="three columns pullman-images">
        <span data-picture data-alt="Pullman Hotel" class="pullman-img">
            <span data-src="http://2015.pycon-au.org/img/8784_ho_02_p_1024x768.jpg" data-media="(min-width: 1171px)"></span>
        </span>
        <span data-picture data-alt="Pullman Hotel" class="pullman-img">
            <span data-src="http://2015.pycon-au.org/img/8784_sm_00_p_1024x768.jpg" data-media="(min-width: 1171px)"></span>
        </span>
    </div>

    <div class="three columns about-pullman">
        <div class="padding">
            <p class="pullman-address">
                <span>Pullman Hotel</span><br/>
                King George Square<br/>
                Brisbane QLD 4000
            </p>
            <p>The <a href="http://www.pullmanbrisbanekgs.com.au/">Pullman Hotel</a> is located in the Brisbane CBD, 
            just across from the Brisbane City Hall which contain the 
            <a href="http://www.museumofbrisbane.com.au/">Musuem of Brisbane</a>. </p>
            The Pullman is a combined hotel and conference facility, the largest of its type in Brisbane. 
            The Pullman is right next to the retail precinct and public transport.
        </div>
    </div>

    <div class="clearfix"></div>
</div>

{% endblock %}
