<!DOCTYPE html>
{% load static wagtailuserbar pyconau_tags %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="prefetch" href="https://login.persona.org/include.js">
        <title>
            {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
            {% block title_suffix %} - PyCon Australia | July 31st - August 4th 2015 | Brisbane, Queensland{% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='//fonts.googleapis.com/css?family=Oswald:400,700|Oxygen:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="http://2015.pycon-au.org/css/stylesheets/vendor/font-awesome.css">
        <link rel="stylesheet" href="http://2015.pycon-au.org/css/stylesheets/vendor/owl.carousel.css">
        <link rel="stylesheet" href="http://2015.pycon-au.org/css/stylesheets/vendor/owl.theme.css">

        <link rel="stylesheet" href="http://2015.pycon-au.org/css/stylesheets/style.css">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

         <!--[if lte IE 9]>
         <link href="http://2015.pycon-au.org/css/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <script src="http://2015.pycon-au.org/js/vendor/modernizr-2.6.2.min.js"></script>

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div id="flash"></div>


        <header>
            <div class="nav-bg"></div>
            <div class="container">
                <a href="http://2015.pycon-au.org">
                    <!-- PictureFill Responsive Logo -->
                    <span data-picture data-alt="PyCon AU 2015 Logo">
                    <span data-src="http://2015.pycon-au.org/img/mobile-logo.png" class="mobile-logo"></span>
                    <span data-src="http://2015.pycon-au.org/img/logo.png" data-media="(min-width: 769px)" class="logo"></span>

                        <noscript>
                        <img src="http://2015.pycon-au.org/img/logo.png" alt="PyCon AU 2015 Logo" class="logo">
                        </noscript>
                    </span>
                </a>

                <ul class="nav">
                    {% top_menu self %}
                </ul>

                <div class="clearfix"></div>

                <div class="ctas pull-right">
                    <a class="first button block" href="/person/new">Create Account</a>
                    <a class="button grey block" href="/person/signin">Login</a>
                </div>

                <div class="dates pull-right">
                    <h2>31<sup>st</sup> JULY - 4<sup>th</sup> AUGUST 2015</h2>
                    <p class="location">Pullman Brisbane - King George Square</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <div class="container">
                <ul class="footer-links">
                    <li><a href="/about/pycon-au">About PyCon Australia</a></li>
                    <li><a href="/register/prices">Prices</a></li>
                    <li><a href="/register/accommodation">Accommodation</a></li>
                    <li><a href="/about/venue">Venue</a></li>
                    <li><a href="/about/history">History</a></li>
                    <li><a href="/register/code_of_conduct">Code of Conduct</a></li>
                </ul>

                <ul class="footer-links">
                    <li><a href="/programme/about">About the Programme</a></li>
                    <li><a href="/programme/keynotes">Keynotes</a></li>
                    <li><a href="/programme/miniconfs">MiniConfs</a></li>
                    <li><a href="/programme/schedule/saturday">Schedule</a></li>
                    <li><a href="/programme/social_events">Social Events</a></li>
                </ul>

                <ul class="footer-links">
                    <li><a href="/sponsors/sponsors">Our Sponsors</a></li>
                    <li><a href="/sponsors/why_sponsor">Why Sponsor</a></li>
                    <li><a href="/media/news">Media</a></li>
                    <li><a href="/media/in_the_press">In the Press</a></li>
                    <li><a href="/media/graphics">Graphics</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class="footer-conf-dates">
                    <li><strong>Mini-Conferences</strong><br/>July 31</li>
                    <li><strong>Presentations</strong><br/>August 1-2</li>
                    <li><strong>Sprints</strong><br/>August 3-4</li>
                </ul>
                <a href="http://2015.pycon-au.org"><img src="http://2015.pycon-au.org/img/white-logo.png" alt="PyConAu Logo" class="pull-right white-logo" /></a>
                <div class="clearfix"></div>
            </div>
        </footer>
        <div class="bottom-footer">
            <div class="container">
                <span>© 2015 <a href="http://pycon-au.org/">PyCon Australia</a> and <a href="http://linux.org.au/">Linux Australia</a></span>
                <span>Designed by <a href="http://kabucreative.com.au">Kabu Creative</a></span>
                <span class="cc-credit pull-right">
                    <span>
                        Banner image by <a href="https://secure.flickr.com/photos/richard_jones/6102827522/sizes/l/">Richard Jones</a> (<a href="https://creativecommons.org/licenses/by/2.0/">CC Attribution</a>)
                    </span>
                </span>
            </div>
            <div class="dark-bottom-footer"></div>
            <div class="bottom-footer-bg"></div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://2015.pycon-au.orgjs/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="http://2015.pycon-au.orghttps://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

        <script type="text/javascript">
           jQuery(document).ready(function() {
             jQuery("#flash > div").hide().fadeIn(3500);
             jQuery("#flash > div").fadeTo(3000, 0.3);
             jQuery("#flash > div").hover(function() {
               jQuery(this).fadeTo(250, 1);
             },function(){
               jQuery(this).fadeTo(250, 0.3);
             });
           });
        </script>

        <script src="http://2015.pycon-au.org/js/vendor/owl.carousel.min.js"></script>
        <script src="http://2015.pycon-au.org/js/vendor/picturefill.js"></script>
        <script src="http://2015.pycon-au.org/js/pycon-main.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- TODO: Add Google Analytics -->

    </body>
</html>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pyconau.css' %}">

    </head>


    </body>
</html>
